* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16px;
    display: block;
}

h1#top-header {
    padding-top: 20px;
}

#phonevideo {
    display: inline-block;
    margin-top: 20px;
}

.icon {
    padding-top: 20px;
}

span#footertext {
    float:right;
    color: gray;
    font-size: 20px;
    margin-right: 20px;
    margin-top:20px;
}